header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem;
    display: flex;
    flex-direction: column;
}
header .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}
.content {
    display: flex;
    flex-direction: column;
}

.log {
    margin: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border: 2px black solid;
    border-radius: 13px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.loginfos {
    display: flex;
    flex-direction: column;
}
.logactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logbutton {
    margin-top: 2px;
    margin-bottom: 2px;
}
.logbutton.danger {
    border-color: red;
    color: red;
}